* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.container {
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   grid-template-rows: repeat(8, auto);
   grid-column-gap: 15px;
   grid-row-gap: 15px;
   max-width: 950px;
   margin: 0 auto;
}

header {
    display: grid;
    grid-column: 1/5;
    grid-row: 1/2;
}

nav {
   display: flex;
   margin-top: 10px;
   padding: 20px;
   background-color: rgb(5, 189, 5);

}

ul {
   display: flex;
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
   margin: 10px;
   font-weight: bold;
   font-size: 1.1em;
}

a:hover {
   color: darkred;
}

.content {
   grid-column: 1/3;
   grid-row: 2/3;
   border: 8px solid #d9d9d9;
   height: fit-content;
   padding: 10px;
}

h2 {
   text-align: center;
   padding-bottom: 10px;
}

blockquote {
   padding-top: 10px;
   padding-bottom: 20px;
   color: blue;
}


.picture, img {
   grid-column: 3/5;
   grid-row: 2/3;
   height: 337px;
   width: 490px;
}

img {
   border: 8px solid #d9d9d9;
}

.crutch1 {
   grid-column: 1/5;
   grid-row: 3/4;
   background-color: rgb(5, 189, 5);
   height: 30px;
}

.first {
   grid-column: 1/2;
   grid-row: 4/5;
}

.second {
   grid-column: 2/3;
   grid-row: 4/5;
}

.third {
   grid-column: 3/4;
   grid-row: 4/5;
}

.fourth {
   grid-column: 4/5;
   grid-row: 4/5;
}

h3 {
   text-align: center;
   color: blue;
}

.crutch {
   grid-column: 1/5;
   grid-row: 5/6;
   background-color: rgb(5, 189, 5);
   height: 30px;
}

.one {
   grid-column: 1/2;
   grid-row: 6/7;
   margin:10px;
}

.two {
   grid-column: 2/3;
   grid-row: 6/7;
   margin:10px;
}

.three {
   grid-column: 3/4;
   grid-row: 6/7;
   margin:10px;
}

.four {
   grid-column: 4/5;
   grid-row: 6/7;
   margin:10px;
}
.text {
   display: grid;
   grid-column: 1/5;
   grid-row: 6/7;
   background-color: rgb(182, 180, 180);
}

footer {
   grid-column: 1/5;
   grid-row: 7/8;
   text-align: center;

}